.flex
{
    display: flex;
    gap: var(--gap, 3rem);
}

.header
{
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    background: hsl(0, 0%, 0%);
    z-index: 1000;
}

.nav
{
    list-style: none;
    padding: 0;
    margin: 0;
    padding-inline: 2rem;
}

.nav > li:hover
{
    border-bottom: 3px solid white;
}

.nav > li > a
{
    text-decoration: none;
    color: white;
}

.mobile-nav-toggle
{
    cursor: pointer;
    display: none;
}

@media (min-width: 35em)
{
    .nav > li
    {
        align-self: center;
    }
}

@media (max-width: 35em)
{
    .nav
    {
        position: fixed;
        inset: 0 -70% 0 100%;

        --gap: 1.5rem;
        flex-direction: column;
        padding-block: 2rem;

        background: hsla(0, 0%, 25%, 0.5);
        backdrop-filter: blur(1rem);

        transform: translateX(0%);
        transition: transform 350ms ease-in;
    }

    .nav[data-visible="true"]
    {
        transform: translateX(-100%);
    }

    .mobile-nav-toggle
    {
        display: block;
        position: absolute;
        top: 0.35rem;
        right: 0.75rem;
        z-index: 9999;
    }
}

/* Nav icon */

.nav-icon
{
    width: 30px;
}

.nav-icon:before, .nav-icon:after, .nav-icon div
{
    background-color: #fff;
    border-radius: 5px;
    content: '';
    display: block;
    height: 3px;
    margin: 7px 0;
    transition: all .2s ease-in-out;
}

.nav-icon[aria-expanded="true"]:before
{
    transform: translateY(10px) rotate(135deg);
}
  
.nav-icon[aria-expanded="true"]:after
{
    transform: translateY(-10px) rotate(-135deg);
}
  
.nav-icon[aria-expanded="true"] div
{
    transform: scale(0);
}
